{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "react/jsx-indent": "off",
        "linebreak-style": "off",
        "react/jsx-filename-extension": "off",
        "brace-style": "off",
        "semi": "off",
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-continue": "off",
        "no-fallthrough": "off",
        "no-unreachable": "warn",
        "prefer-destructuring": "off",
        "no-nested-ternary": "off",
        "new-cap": "off",
        "no-unused-vars": [
            "error",
            {
                "args": "none",
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "[iI]gnored"
            }
        ],
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "quotes": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "react/jsx-closing-bracket-location": "off",
        "react/jsx-closing-tag-location": "off",
        "arrow-body-style": "off",
        "prefer-template": "off",
        "no-param-reassign": "off",
        "no-lonely-if": "off",
        "react/forbid-prop-types": "off",
        "no-console": "off",
        "spaced-comment": "off",
        "react/destructuring-assignment": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/label-has-for": "off",
        "react/no-access-state-in-setstate": "off",
        "react/jsx-one-expression-per-line": "off",
        "indent": "off",
        "react/jsx-indent-props": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-else-return": "off",
        "react/prop-types": "off",
        "import/no-cycle": "off",
        "react/jsx-fragments": "off",
        "arrow-parens": "off",
        "max-classes-per-file": "off",
        "prefer-object-spread": "off",
        "no-mixed-operators": "off",
        "no-async-promise-executor": "off"
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "import"
    ]
}