/* changing background-color, border-color, font-family, font size */

.sidebar-scroll {
    overflow: auto;
    max-height: 40vh;
    color: black; //boxShadow: "inset 0 -32px 84px -40px rgb(104, 113, 108)",
    border-radius: 4px,
}

.sidebar-icon-bg {
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: -2px;
    background-size: 23px;
}

.level3 {
    padding-left: 15px;
}

.folder-item-expanded {
    border-bottom: 1px solid wheat !important;
}

.manual {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/box.svg") !important;
}

.guitar {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/guitar.svg") !important;
    background-position-x: 7px;
}

.catalog {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/catalog.svg") !important;
    background-position-x: 5px;
}

.add {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/add.svg") !important;
    background-position-y: -1px;
    background-size: 24px;
}

.generated {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/generated.svg") !important;
}

.manual {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/manual.svg") !important;
}

.rs {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/rs.svg") !important;
}

.new {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/box.svg") !important;
    background-position-y: 0px;
    background-size: 22px;
    background-position-x: 8px;
}

.folder-item-expanded:hover .edit {
    @extend .sidebar-icon-bg;
    width: 24px;
    background-size: 18px;
    position: relative;
    left: -27px;
    top: 2px;
    background-image: url("../assets/tree-icons/edit.svg") !important;
    background-position-y: 0px;
    cursor: pointer;
}

.folder-item:hover .edit {
    @extend .sidebar-icon-bg;
    width: 24px;
    background-size: 18px;
    position: relative;
    left: -27px;
    top: 2px;
    background-image: url("../assets/tree-icons/edit.svg") !important;
    background-position-y: 0px;
    cursor: pointer;
}

.folder {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/folder.svg") !important;
    background-position-y: -1px;
    background-size: 21px;
    background-position-x: 7px;
}

.add-folder {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/add-folder.svg") !important;
    background-position-y: 1px;
    background-size: 24px;
}

.starred {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/starred.svg") !important;
    background-position-y: -0.95px;
}

.starred-folder {
    @extend .sidebar-icon-bg;
    background-image: url("../assets/tree-icons/event.svg") !important;
    background-size: 25px;
    background-position-x: 7px;
    background-position-y: 0px;
}

.setlist-option-starred {
    @extend .starred;
    width: 100%;
    display: inline-block;
    background-position-y: 4px;
}

.setlist-option-starred-gray {
    @extend .starred;
    width: 100%;
    display: inline-block;
    filter: grayscale(100%);
    background-position-y: 4px;
}

.sidebar-custom {
    height: 100%;
    .deni-react-treeview-container {
        background-color: rgb(32, 33, 46) !important;
        border: none;
        font-size: 1.1em;
        width: 100%;
        font-family: inherit;
        height: 100% !important;
        /* changing the font color, font size and line's height */
        .deni-react-treeview-item-container {
            height: 46px;
            padding-left: 0px !important;
            /* changing the font color, and padding top and bottom (left is not recommended) */
            .colapsed {
                display: none !important;
            }
            .expanded {
                display: none !important;
            }
            &:hover {
                color: black !important;
                background: azure !important;
                border-radius: 2px;
                .select-row {
                    color: black !important;
                }
            }
            &.selected {
                color: black !important;
                background: azure !important;
                border-radius: 2px;
                .select-row {
                    color: black !important;
                }
            }
            &.add-setlist-folder {
                float: right;
                position: relative;
                left: -5px;
                width: 120px;
            }
            &.add-setlist {
                width: 115px;
                margin-left: 2px;
                float: left;
            }
            .icon-and-text {
                color: wheat;
                padding-top: 6px;
                padding-bottom: 6px;
                width: 100%;
                height: 100%;
                &:hover {
                    color: black !important;
                    background: azure !important;
                    border-radius: 2px;
                }
                /* changing the selected item properties */
                &.selected {
                    color: black !important;
                    background: azure !important;
                    border-radius: 2px;
                }
                /* changing the icons of the folders expanded */
                .icon {
                    width: 0px !important;
                    height: 0px !important;
                    background-image: none !important;
                    /* changing the icons of the folders colapsed */
                    /* &.colapsed {
                        display: none !important;
                    }*/
                    /*
                    background-image: url(https://denifakedata.herokuapp.com/images/closed-folder.png) !important; //}
                    /* changing the icons of the folders expanded */
                    /*&.expanded {
                        background-image: url(https://denifakedata.herokuapp.com/images/opened-folder.png) !important;
                    }*/
                    /* changing the icons of the items */
                    &.isleaf {
                        background-image: none !important;
                    }
                }
            }
            .treeview-item-custom {
                display: flex;
                flex: 1;
                .treeview-item-custom-text {
                    flex: 1;
                    padding-left: 5px !important;
                }
                .child-and-leaf {
                    padding-left: 35px !important;
                    font-size: 0.85em !important;
                    margin-left: 2px;
                }
                .parent-only {
                    padding-left: inherit;
                    font-size: inherit;
                }
                .actionButton {
                    margin-right: 5px;
                    cursor: pointer;
                    opacity: 0.5;
                    &.trash {
                        color: #ff6666;
                    }
                    &.edit {
                        color: #006699; //#00cc44;
                        margin-top: 1px;
                    }
                }
            }
        }
    }
}