body {
    margin: 0;
    background-color: #000;
}

.wrap {
    display: grid;
    justify-items: center;
    width: 100%;
    overflow: hidden;
    font-family: "Roboto Condensed";
    color: white;
}

.wrap .banner {
    display: grid;
    grid-template-columns: 51% 55% 1fr;
    /* max-width: 85%; */
    min-height: 100vh;
    padding-top: 79px;
    box-sizing: border-box;
    background: url(img/home-banner-bg-dark-2.jpg) center;
    background-size: cover;
}

.wrap .banner-left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, .2), 0 4px 8px rgba(16, 22, 26, .4), 0 18px 46px 6px rgba(16, 22, 26, .4);
}

.wrap .banner .banner-left img {
    max-width: 140%;
    height: auto;
    box-shadow: inset -1px 0px 2px rgba(0, 0, 0, .6), 0px 22px 71px 4px rgba(0, 0, 0, 0.56), 0 0 0 -7px rgba(0, 0, 0, 0.3);
}

.wrap .banner .banner-right {
    text-align: center;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17vh;
}

.wrap .banner .banner-right .btn-wrap {
    align-content: center;
    width: 100%;
    display: flex;
}

.wrap .banner .banner-right .btn-wrap .btn {
    display: inline-block;
    width: 40%;
    padding: 0 20px;
}

.wrap .banner .banner-right .btn-wrap .btn a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.2);
}

.wrap .banner .banner-right .btn-wrap .btn.download-btn a {
    background-color: #0099d8;
}

.wrap .banner .banner-right .btn-wrap .btn.download-btn a:hover {
    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.4);
    background-color: #0087bf;
}

.wrap .banner .banner-right .btn-wrap .btn.demo-btn a {
    background-color: #383544;
}

.wrap .banner .banner-right .btn-wrap .btn.demo-btn a:hover {
    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.4);
    background-color: #2c2a36;
}

.wrap .banner .description {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 50px;
}

.wrap .banner .description .notice {
    font-size: 12px;
}

.wrap .feature-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 300px));
    justify-content: center;
    grid-gap: 25px;
    justify-self: stretch;
    padding: 80px 0;
    background-color: #20212d;
}

.wrap .feature-section h2 {
    font-size: 2rem;
    margin: 0 0 40px;
    text-align: center;
    grid-column: 1 / -1;
    color: #fff;
}

.wrap .feature-section .feature {
    background-color: #ffffff14;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, .2), 0 4px 8px rgba(16, 22, 26, .4), 0 18px 46px 6px rgba(16, 22, 26, .4);
    transition: box-shadow 0.3s;
    position: relative;
}

.wrap .feature-section .feature i {
    position: absolute;
    width: 42px;
    height: 42px;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
    padding: 8px;
    color: #30313d;
    background-color: #fff;
    font-size: 2.5rem;

}

.wrap .feature-section .get-involved {
    grid-column: 1 / -1;
    text-align: center;
}

.wrap .feature-section .get-involved a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #383544;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 20px 0;
    box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
    transition: all 0.3s;
}

.wrap .feature-section .get-involved a:hover {
    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.8);
    background-color: #2c2a36;
}

.wrap .feature-section .get-involved a i {
    vertical-align: middle;
}

.wrap .cta {
    text-align: center;
}

.wrap .cta .cta-btn {
    padding: 150px 0;
}

.wrap .cta .cta-btn p {
    font-size: 2.5rem;
    margin: 0;
}

.wrap .cta .cta-btn a {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #0099d8;
    padding: 20px 80px;
    border-radius: 45px;
    margin: 50px 0;
    box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
    transition: all 0.3s;
}

.wrap .cta .cta-btn a:hover {
    box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.6);
    background-color: #0087bf;
}

.wrap .cta .cta-btn .warning {
    font-size: 14px;
}

.wrap .cta .credit p a {
    text-decoration: none;
    color: #0099d8;
}

.wrap .cta .credit p i {
    color: #e80d2e;
    animation: heartbeat 3s infinite;
    vertical-align: middle;
}


h1 {
    font-size: 60px;
    margin-bottom: 25px;
    margin: 0;
}

.text-container {
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

p {
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    line-height: 25px;
}

.buttons.dark {
    background-color: #000;
    color: #fff !important;
    border: 1px solid #fff;
}

.buttons {
    padding: 20px 24px 8px;
    max-width: 225px;
    margin-right: 10px;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: #000 !important;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.buttons i {
    font-size: 44px;
    padding-right: 20px;
    color: #eee;
    margin-top: -8px;
}

.buttons p {
    margin-bottom: 8px !important;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.buttons p span {
    font-size: 24px;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
}

.buttons.dark a {
    color: #fff;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.buttons.dark:hover {
    background-color: #46dbf9;
    border: 1px solid #0000;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #46dbf9;
    color: #fff !important;
    border: 1px solid #0000;
}

h5 {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
}



@media (max-width:1440px) {
    .text-container {
        max-width: 80%;
    }

    .text-container p {
        width: 90%;
    }
}

@media (max-width: 1230px) {
    .wrap .banner {
        max-width: 100%;
    }
}

@media (max-width: 1040px) {
    .wrap .banner {
        padding-top: 20px;
    }

    .wrap .banner .banner-left,
    .wrap .banner .banner-right {
        grid-column: span 2;
        margin-top: 0vh;
    }

    .wrap .banner .banner-right {
        padding-top: 10px;
    }

    .wrap .banner .banner-right .btn:first-child {
        padding-left: 0;
    }

    .wrap .feature-section {
        grid-template-columns: repeat(4, 150px);
    }

    .wrap .feature-section .feature {
        grid-column: span 2;
    }

    .wrap .feature-section .get-involved {
        grid-column: span 4;
    }

    .wrap .banner .banner-left img {
        max-width: 95%;
        height: auto;
        box-shadow: inset -1px 0px 2px rgba(0, 0, 0, .6), 0px 22px 71px 4px rgba(0, 0, 0, 0.56), 0 0 0 -7px rgba(0, 0, 0, 0.3);
    }

    .wrap .banner .banner-left {
        margin-top: 20px;
    }
}

@media (max-width: 742px) {
    .wrap .banner {
        padding-top: 10px;
    }

    .wrap .banner .description {
        font-size: 1.2rem;
        padding: 0 20px;
    }

    .wrap .feature-section {
        grid-template-columns: repeat(2, 200px);
    }

    .wrap .feature-section .get-involved {
        grid-column: span 2;
    }

    .wrap .cta .cta-btn {
        padding: 80px 0;
    }

    .wrap .cta .cta-btn p {
        font-size: 2em;
    }

    .wrap .cta .cta-btn a {
        padding: 15px 30px;
        font-size: 1rem;
    }
}


@media (max-width: 488px) {
    .wrap .banner .banner-right .btn-wrap .btn {
        width: 35%;
    }

    .wrap .feature-section {
        grid-template-columns: repeat(2, 140px);
    }

    .wrap .feature-section .get-involved {
        grid-column: span 2;
    }

    .buttons {
        padding: 20px 24px 8px 8px;
        max-width: 122px;
    }

    .buttons i {
        font-size: 44px;
        padding-right: 7px;
        color: #eee;
        margin-top: -8px;
    }
}



.small-icon {
    font-size: 2.2rem !important;
}

a {
    text-decoration: none;
    color: #add8e6;
}