@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/*@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";*/

.App {
  font-family: "Roboto Condensed", sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background: #fafafa;
  background-image: url(assets/b2.jpg);
  /*background-image: url(assets/bg.jpg);*/
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  outline: 0.5px solid darkslateblue;
  opacity: 0.92;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download:hover {
  background: #fff !important;
  color: #7386d5 !important;
}
a.download {
  color: #fff !important;
  background: #7386d5 !important;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}
a {
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

.activeList {
  background: #6d7fcc;
}
.inactiveList {
  background: none;
}
.activeChildTab {
  color: #7386d5 !important;
  background: #fff;
}
.inactiveChildTab {
  background: none;
  color: #fff;
}

.topHeader {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.centerButton {
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
}
.extraPadding {
  padding: 10px;
  text-align: center;
  font-size: 0.9em !important;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  width: 20%;
  background: #6d7fcc !important;
}

/* TABLE */
.psarcTable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  line-height: 10px !important;
  background-color: white;
  border: 1px solid black;
}

table th {
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid black !important;
  border-top: none !important;
  width: 100px !important;
}
table td {
  text-align: center;
  padding: 7px !important;
  border: 1px solid black;
  /*width: 100px !important;
  max-width: 100px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 38px;
  vertical-align: middle !important;
}
table thead {
  border: 1px solid black !important;
}
table tbody tr {
  border-bottom: 1px solid #ddd;
}

table thead tr,
table thead tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
tbody tr:nth-child(even) {
  background-color: #f0f8ff;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.isDisabled {
  cursor: not-allowed !important; 
  opacity: 0.5 !important;
  pointer-events: none;
}

/* MODAL */
.modal-window {
  position: fixed;
  background-color: rgba(240, 248, 255, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.modal-window:target {
  opacity: 1;
}

.modal-window>div {
  width: 720px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  border-radius: 20px;
}
.width-75 {
  width: 76% !important;
  height: 65% !important;
}
.width-75-2 {
  width: 66% !important;
}
.width-52 {
  width: 60% !important;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}
.modal-50 {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 40px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-50:hover {
  color: #000;
}
.modal-100 {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-100:hover {
  color: #000;
}
.modal-reset {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 120px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-reset:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.hidden {
  display: none;
}

.psarcFiles{
  height:282px;
  overflow:auto;
}

.overflowellipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%
}
 .mastery {
  display: none;
}
.diff_0 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA5MCA5MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTAgOTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yNi4xNTIsNTMuMTgydjEzLjY1NGgtNy4zMzNWNTMuMTgySDI2LjE1MiBNMjYuMTUyLDUxLjE4MmgtNy4zMzNjLTEuMTA0LDAtMiwwLjg5NS0yLDJ2MTMuNjU0YzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzMgIGMxLjEwNCwwLDItMC44OTUsMi0yVjUzLjE4MkMyOC4xNTIsNTIuMDc2LDI3LjI1Niw1MS4xODIsMjYuMTUyLDUxLjE4MkwyNi4xNTIsNTEuMTgyeiI+PC9wYXRoPjxwYXRoIGQ9Ik00MS4xNiw0My4xNzV2MjMuNjYxaC03LjMzM1Y0My4xNzVINDEuMTYgTTQxLjE2LDQxLjE3NWgtNy4zMzNjLTEuMTA0LDAtMiwwLjg5Ni0yLDJ2MjMuNjYxYzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzMgIGMxLjEwNCwwLDItMC44OTUsMi0yVjQzLjE3NUM0My4xNiw0Mi4wNzEsNDIuMjY1LDQxLjE3NSw0MS4xNiw0MS4xNzVMNDEuMTYsNDEuMTc1eiI+PC9wYXRoPjxwYXRoIGQ9Ik01Ni4xNzEsMzMuMTY5djMzLjY2N2gtNy4zMzZWMzMuMTY5SDU2LjE3MSBNNTYuMTcxLDMxLjE2OWgtNy4zMzZjLTEuMTA0LDAtMiwwLjg5Ni0yLDJ2MzMuNjY3YzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzYgIGMxLjEwNCwwLDItMC44OTUsMi0yVjMzLjE2OUM1OC4xNzEsMzIuMDY1LDU3LjI3NSwzMS4xNjksNTYuMTcxLDMxLjE2OUw1Ni4xNzEsMzEuMTY5eiI+PC9wYXRoPjxwYXRoIGQ9Ik03MS4xODIsMjMuMTY0djQzLjY3MmgtNy4zMzZWMjMuMTY0SDcxLjE4MiBNNzEuMTgyLDIxLjE2NGgtNy4zMzZjLTEuMTA0LDAtMiwwLjg5Ni0yLDJ2NDMuNjcyYzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzYgIGMxLjEwNCwwLDItMC44OTUsMi0yVjIzLjE2NEM3My4xODIsMjIuMDU5LDcyLjI4NiwyMS4xNjQsNzEuMTgyLDIxLjE2NEw3MS4xODIsMjEuMTY0eiI+PC9wYXRoPjwvc3ZnPg==");
}
.diff_1 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA5MCA5MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTAgOTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yOC4xNTIsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzMzYy0xLjEwNCwwLTItMC44OTUtMi0yVjUzLjE4MmMwLTEuMTA1LDAuODk2LTIsMi0yaDcuMzMzYzEuMTA0LDAsMiwwLjg5NSwyLDIgIFY2Ni44MzZ6Ij48L3BhdGg+PHBhdGggZD0iTTQxLjE2LDQzLjE3NXYyMy42NjFoLTcuMzMzVjQzLjE3NUg0MS4xNiBNNDEuMTYsNDEuMTc1aC03LjMzM2MtMS4xMDQsMC0yLDAuODk2LTIsMnYyMy42NjFjMCwxLjEwNSwwLjg5NiwyLDIsMmg3LjMzMyAgYzEuMTA0LDAsMi0wLjg5NSwyLTJWNDMuMTc1QzQzLjE2LDQyLjA3MSw0Mi4yNjUsNDEuMTc1LDQxLjE2LDQxLjE3NUw0MS4xNiw0MS4xNzV6Ij48L3BhdGg+PHBhdGggZD0iTTU2LjE3MSwzMy4xNjl2MzMuNjY3aC03LjMzNlYzMy4xNjlINTYuMTcxIE01Ni4xNzEsMzEuMTY5aC03LjMzNmMtMS4xMDQsMC0yLDAuODk2LTIsMnYzMy42NjdjMCwxLjEwNSwwLjg5NiwyLDIsMmg3LjMzNiAgYzEuMTA0LDAsMi0wLjg5NSwyLTJWMzMuMTY5QzU4LjE3MSwzMi4wNjUsNTcuMjc1LDMxLjE2OSw1Ni4xNzEsMzEuMTY5TDU2LjE3MSwzMS4xNjl6Ij48L3BhdGg+PHBhdGggZD0iTTcxLjE4MiwyMy4xNjR2NDMuNjcyaC03LjMzNlYyMy4xNjRINzEuMTgyIE03MS4xODIsMjEuMTY0aC03LjMzNmMtMS4xMDQsMC0yLDAuODk2LTIsMnY0My42NzJjMCwxLjEwNSwwLjg5NiwyLDIsMmg3LjMzNiAgYzEuMTA0LDAsMi0wLjg5NSwyLTJWMjMuMTY0QzczLjE4MiwyMi4wNTksNzIuMjg2LDIxLjE2NCw3MS4xODIsMjEuMTY0TDcxLjE4MiwyMS4xNjR6Ij48L3BhdGg+PC9zdmc+")
}
.diff_3 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA5MCA5MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTAgOTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yOC4xNTIsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzMzYy0xLjEwNCwwLTItMC44OTUtMi0yVjUzLjE4MmMwLTEuMTA1LDAuODk2LTIsMi0yaDcuMzMzYzEuMTA0LDAsMiwwLjg5NSwyLDIgIFY2Ni44MzZ6Ij48L3BhdGg+PHBhdGggZD0iTTQzLjE2LDY2LjgzNmMwLDEuMTA1LTAuODk2LDItMiwyaC03LjMzM2MtMS4xMDQsMC0yLTAuODk1LTItMlY0My4xNzVjMC0xLjEwNCwwLjg5Ni0yLDItMmg3LjMzM2MxLjEwNCwwLDIsMC44OTYsMiwyICBWNjYuODM2eiI+PC9wYXRoPjxnPjxwYXRoIGQ9Ik01OC4xNzEsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzM2Yy0xLjEwNCwwLTItMC44OTUtMi0yVjMzLjE2OWMwLTEuMTA0LDAuODk2LTIsMi0yaDcuMzM2YzEuMTA0LDAsMiwwLjg5NiwyLDIgICBWNjYuODM2eiI+PC9wYXRoPjwvZz48cGF0aCBkPSJNNzEuMTgyLDIzLjE2NHY0My42NzJoLTcuMzM2VjIzLjE2NEg3MS4xODIgTTcxLjE4MiwyMS4xNjRoLTcuMzM2Yy0xLjEwNCwwLTIsMC44OTYtMiwydjQzLjY3MmMwLDEuMTA1LDAuODk2LDIsMiwyaDcuMzM2ICBjMS4xMDQsMCwyLTAuODk1LDItMlYyMy4xNjRDNzMuMTgyLDIyLjA1OSw3Mi4yODYsMjEuMTY0LDcxLjE4MiwyMS4xNjRMNzEuMTgyLDIxLjE2NHoiPjwvcGF0aD48L3N2Zz4=")
}
.diff_2 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA5MCA5MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTAgOTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yOC4xNTIsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzMzYy0xLjEwNCwwLTItMC44OTUtMi0yVjUzLjE4MmMwLTEuMTA1LDAuODk2LTIsMi0yaDcuMzMzYzEuMTA0LDAsMiwwLjg5NSwyLDIgIFY2Ni44MzZ6Ij48L3BhdGg+PHBhdGggZD0iTTQzLjE2LDY2LjgzNmMwLDEuMTA1LTAuODk2LDItMiwyaC03LjMzM2MtMS4xMDQsMC0yLTAuODk1LTItMlY0My4xNzVjMC0xLjEwNCwwLjg5Ni0yLDItMmg3LjMzM2MxLjEwNCwwLDIsMC44OTYsMiwyICBWNjYuODM2eiI+PC9wYXRoPjxwYXRoIGQ9Ik01Ni4xNzEsMzMuMTY5djMzLjY2N2gtNy4zMzZWMzMuMTY5SDU2LjE3MSBNNTYuMTcxLDMxLjE2OWgtNy4zMzZjLTEuMTA0LDAtMiwwLjg5Ni0yLDJ2MzMuNjY3YzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzYgIGMxLjEwNCwwLDItMC44OTUsMi0yVjMzLjE2OUM1OC4xNzEsMzIuMDY1LDU3LjI3NSwzMS4xNjksNTYuMTcxLDMxLjE2OUw1Ni4xNzEsMzEuMTY5eiI+PC9wYXRoPjxwYXRoIGQ9Ik03MS4xODIsMjMuMTY0djQzLjY3MmgtNy4zMzZWMjMuMTY0SDcxLjE4MiBNNzEuMTgyLDIxLjE2NGgtNy4zMzZjLTEuMTA0LDAtMiwwLjg5Ni0yLDJ2NDMuNjcyYzAsMS4xMDUsMC44OTYsMiwyLDJoNy4zMzYgIGMxLjEwNCwwLDItMC44OTUsMi0yVjIzLjE2NEM3My4xODIsMjIuMDU5LDcyLjI4NiwyMS4xNjQsNzEuMTgyLDIxLjE2NEw3MS4xODIsMjEuMTY0eiI+PC9wYXRoPjwvc3ZnPg==")
}
.diff_4 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA5MCA5MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTAgOTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0yOC4xNTIsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzMzYy0xLjEwNCwwLTItMC44OTUtMi0yVjUzLjE4MmMwLTEuMTA1LDAuODk2LTIsMi0yaDcuMzMzYzEuMTA0LDAsMiwwLjg5NSwyLDIgIFY2Ni44MzZ6Ij48L3BhdGg+PHBhdGggZD0iTTQzLjE2LDY2LjgzNmMwLDEuMTA1LTAuODk2LDItMiwyaC03LjMzM2MtMS4xMDQsMC0yLTAuODk1LTItMlY0My4xNzVjMC0xLjEwNCwwLjg5Ni0yLDItMmg3LjMzM2MxLjEwNCwwLDIsMC44OTYsMiwyICBWNjYuODM2eiI+PC9wYXRoPjxnPjxwYXRoIGQ9Ik01OC4xNzEsNjYuODM2YzAsMS4xMDUtMC44OTYsMi0yLDJoLTcuMzM2Yy0xLjEwNCwwLTItMC44OTUtMi0yVjMzLjE2OWMwLTEuMTA0LDAuODk2LTIsMi0yaDcuMzM2YzEuMTA0LDAsMiwwLjg5NiwyLDIgICBWNjYuODM2eiI+PC9wYXRoPjwvZz48Zz48cGF0aCBkPSJNNzMuMTgyLDY2LjgzNmMwLDEuMTA1LTAuODk2LDItMiwyaC03LjMzNmMtMS4xMDQsMC0yLTAuODk1LTItMlYyMy4xNjRjMC0xLjEwNCwwLjg5Ni0yLDItMmg3LjMzNmMxLjEwNCwwLDIsMC44OTYsMiwyICAgVjY2LjgzNnoiPjwvcGF0aD48L2c+PC9zdmc+")
}

.iconPreview {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 65%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
}  
.smallIcon {
  background-size: 50%;
}
.ta-center {
  text-align: center;
 }
 .ta-left {
   text-align: left;
 }
 .ta-right {
  text-align: right;
  color: darkblue;
  font-size: 17px;
  float: right;
  position: absolute;
  right: 22px;
 }
 .skinny {
   height: 38px !important;
 }
 .right-align {
   position: absolute;
   right: 18px;
   font-size: 20px;
   color:darkblue;
 }
 .header-top {
   top:45px;
 }
 .stat-container {
    border-bottom: solid 1px rgba(187,187,187, .55);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
 }
 .dashboard-header {
    margin: 24px auto !important;
    height: 140px !important;
    max-width: 319px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
 }
.dashboard-top {
  height: 240px;
  background-color: #fff;
  border:1px solid #bbb;
  color: #252525;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  filter: drop-shadow(0 0 0.10rem black);
}
.dashboard-middle {
  height: 272px;
  background-color: #fff;
  border:1px solid #bbb;
  color: #252525;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  margin-left:20px;
  margin-right: 20px;
  filter:drop-shadow(0 0 0.10rem black);
}
hr {
  border-bottom: .5px solid black !important;
  margin-top: 6px !important;
}
.col-md-3 {
    flex: 0 0 31% !important;
}
.dblock {
  display:block;
}
.settings {
  height: 100%;
  background-color: #fff;
  border:1px solid #bbb;
  color: #252525;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 100%;
}